<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
    <h2>Main</h2>
    <form action="/dbs" method="post">
        <input type = "submit" value="DBS Share Price Prediction">
    </form>
    <form action="/chatbot" method="post">
        <input type = "submit" value="Chatbot">
    </form>
    <form action="/paynow" method="post">
        <input type = "submit" value="Transfer Money">
    </form>
    <form action="/userlog" method="post">
        <input type = "submit" value="View User Log">
    </form>
    <form action="/deletelog" method="post">
        <input type = "submit" value="Delete User Log">
    </form>
    <!-- External link to HuggingFace Space: opens in a new tab -->
    <a href="https://huggingface.co/spaces/zeyacry/german_credit" target="_blank" rel="noopener noreferrer">
        <button type="button">German Credit (HuggingFace)/button>
    </a>
    </div>
</body>




